

#insert{
    border-radius: 29px;
    color: #f0f0f0;
}

#imagepicker{
    max-width:100px
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Global styles */
body {
    background-color: #f0f0f0;
}

.container-fluid {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.navbar img {
    margin-right: 20px;
}

.navbar li {
    display: inline;
    margin-right: 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.form {
    text-align: center;
    padding: 20px;
    
    
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-label {
    font-weight: bold;
}

#image-preview {
    margin-top: 10px;
}

#result {
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.navbar-container {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.logo {
    max-width: 70px;
}

.modal-header {
    background-color: #333;
    color: #fff;
    border-bottom: none;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
    background-color: #333;
}
/* Media queries for responsiveness */
@media (max-width: 768px) {
    .container-fluid.navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .navbar img {
        max-width: 50%;
    }

    .navbar ul {
        margin-top: 10px;
    }
}

@media (max-width: 576px) {
    .navbar img {
        max-width: 70%;
    }
}



/* animation */

.animation-container {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: #007bff;
    border-radius: 10px;
    overflow: hidden;
}

.bouncing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}