body{
     background-image: url('../img2.jpg');
}
#navbar{
    background: #1299e7;
    padding-left: 0;
    zoom: 0%;
}

#insert{
    border-radius: 29px;
    border-color: transparent;
}
form{
   
}
.nav img{
    margin-left: 20%;
    size: 60%;
    width:100px;
    height:auto;
    background-color: transparent;
}